@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

::selection {
  background-color: #0ea5e9;
  color: #f0f9ff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: #f43f5e;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: #fff1f2;
}
